@model IEnumerable<PeopleList.Models.People>
@{
    if (ViewData["Layout"].ToString() != "")
    {
        Layout = ViewData["Layout"].ToString();
    }
    else
    {
        Layout = null;
    }
}
@using (Ajax.BeginForm("Add", new AjaxOptions { UpdateTargetId = "result" }))
{

    <input class="form-control" type="email" name="email" placeholder="Почта" required />
    <br>
    <input class="form-control" type="password" name="password" placeholder="Пароль" required />
    <br>
    <input class="form-control" type="text" name="name" placeholder="Имя" required />
    <br>
    <input class="form-control" type="text" name="surname" placeholder="Фамилия" required />
    <br>
    <input class="form-control" type="date" name="birthday" placeholder="Дата рождения" required />
    <br>
    <button class="btn btn-lg btn-primary btn-block" id="Add" type="submit">Добавить</button>
    <br>

}
<h3>Список добавленных людей</h3>

<ol class="list list-group" id="result">
    @foreach (PeopleList.Models.People b in Model)
    {
        <li class="list-group-item" id="@b.id">
            <span>
                <span class="list-item-label">
                    @Ajax.ActionLink(b.Name + " " + b.Surname, "Read", new { id = b.id }, new AjaxOptions { UpdateTargetId = "main-block" })
                </span>
                <span class="float-xl-right">
                    @Ajax.ActionLink("Удалить", "Remove", new { id = b.id }, new AjaxOptions { UpdateTargetId = "result" })
                </span>
            </span>
        </li>
    }
</ol>






