@{
    if (ViewData["Layout"].ToString() != "")
    {
        Layout = ViewData["Layout"].ToString();
    }
    else
    {
        Layout = null;
    }
}
<h3>@Resources.Resource.PeopleList</h3>

<ol class="list list-group" id="result">
    @{
        Html.RenderAction("List");
    }
</ol>
<br>
@using (Ajax.BeginForm("OpenAdd", new AjaxOptions { UpdateTargetId = "main-block" }))
{
    <button class="btn btn-lg btn-primary btn-block" id="Add" type="submit">@Resources.Resource.Add</button>
}




