@model IEnumerable<PeopleList.Models.People>
@{
    Layout = ViewData["Layout"].ToString();
}
@foreach (PeopleList.Models.People b in Model)
{
    <li class="list-group-item" id="@b.id">
        <span>
            <span class="list-item-label">
                @Ajax.ActionLink(b.Name + " " + b.Surname, "Read", new { id = b.id }, new AjaxOptions { UpdateTargetId = "main-block" })
            </span>
            <span class="float-xl-right">
                 @if(ViewData["hidden"].ToString()!= "true" )
                 {
                     Ajax.ActionLink("Удалить", "Remove", new { id = b.id }, new AjaxOptions { UpdateTargetId = "result" });
                 }
            </span>
        </span>
    </li>
}






