@model IEnumerable<PeopleList.Models.People>
@{

        Layout = null;

}

@foreach (PeopleList.Models.People b in Model)
{
    <li class="list-group-item list" id="@b.id">
        <span>
            <span class="list-item-label">
                @Ajax.ActionLink(b.Name + " " + b.Surname, "Read", new { id = b.id }, new AjaxOptions { UpdateTargetId = "main-block" })
            </span>
            @if (ViewData["hidden"] == null)
            {
                <span class="float-xl-right">
                    @Ajax.ActionLink(Resources.Resource.Edit, "Read", new { id = b.id }, new AjaxOptions { UpdateTargetId = "main-block" })
                </span>
            }
        </span>
    </li>
}






